/* Footer.css */

.footer {
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%; /* Ensure it takes the full width of the viewport */
  background-color: #111827;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Center everything horizontally */
  box-sizing: border-box;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  max-height: 15%;
  z-index: 1;
  overflow: hidden;
}
